@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Overrides for Niger Theme nuances if needed, 
   but Tailwind Utilities (bg-green-900, bg-orange-500) will handle most. */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}